<div id="calculator-summary">
  <div class="small-container">
    <div class="calculator-summary__container calculator-summary__container--left">
      <p>Send your details through and we will be in touch.<br>We’ll discuss the project and decide if we’re going to move forward.</p>
      <a href="#" class="button button--small">Send Details</a>
    </div>
    <div class="calculator-summary__container calculator-summary__container--right">
      <div id="order-details">
        <p class="order-details__highlighted">The site would cost <span id="order-details__price">&pound;2000.00</span></p>
        <p><span id="order-details__website-type"></span><span id="order-details__first-comma" style="display: none;">, </span><span id="order-details__number-of-pages"></span><br id="order-details__first-line-breaker" style="display: none;"><span id="order-details__need-cms"></span></p>
      </div>
    </div>
  </div>
</div>
