/////////////
// Imports //
/////////////

@import "compass";
@import "compass/reset";
@import "compass/css3";

///////////
// Fonts //
///////////

$line-height--normal: 1.25em;
$font-size--normal: 14px;

$font-fallback: "Lucida Grande", "Arial", sans-serif;

$HelveticaNeue: "Helvetica Neue", $font-fallback;
$OpenSans: "Open Sans", $font-fallback;

////////////
// Colors //
////////////

$color--primary: #1d2c49;
$color--accent: #dc161a;

///////////////////
// Form Elements //
///////////////////

$button--font-size: 17px;
$button--height: 69px;

$input--height: 45px;
$input--border-color: #d9dbdd;
$input--color: #444950;
$input--font-family: $HelveticaNeue;
$input--font-size: $font-size--normal;
$input--placeholder-color: rgba($input--color, 0.4);

$input-focused--border-color: rgba($input--color, 0.5);

//////////////
// Generics //
//////////////

$container--min-width: 1100px;
$container--max-width: 1440px;

$border-radius--normal: 5px;
$box-shadow--normal: 2px 2px 2px 0px rgba(0,0,0,0.07);

$border-color--grey: #e1e1e1;

////////////////////////
// Responsive helpers //
////////////////////////
$desktop-breakpoint: 1366px;
$tablet-breakpoint: 768px;

// screen >= 1366px
@mixin desktop-screens {
  @media only screen and (min-width : $desktop-breakpoint) {
    @content;
  }
}

// screen >= 768
@mixin desktop-and-tablet-screens {
  @media only screen and (min-width : $tablet-breakpoint) {
    @content;
  }
}

// screen < 1366px
@mixin handhold-screens {
  @media only screen and (max-width : $desktop-breakpoint - 1px) {
    @content;
  }
}

// 768 <= screen < 1366px
@mixin tablet-screens {
  @media only screen and (min-width : $tablet-breakpoint) and (max-width : $desktop-breakpoint - 1px) {
    @content;
  }
}

// screen < 768
@mixin phone-screens {
  @media only screen and (max-width : $tablet-breakpoint - 1px) {
    @content;
  }
}
