/////////////
// Imports //
/////////////

@import "compass";
@import "compass/reset";
@import "compass/css3";

///////////
// Fonts //
///////////

$line-height--normal: 1.25em;
$font-size--normal: 14px;

$font-fallback: "Lucida Grande", "Arial", sans-serif;

$HelveticaNeue: "Helvetica Neue", $font-fallback;
$OpenSans: "Open Sans", $font-fallback;

////////////
// Colors //
////////////

$color--primary: #1d2c49;
$color--accent: #dc161a;

//////////////
// Generics //
//////////////

$container--min-width: 1100px;
$container--max-width: 1440px;
