.button {
  // TODO add a hover effect?

  @include reset-box-model;

  background: $color--accent;
  @include border-radius($border-radius--normal);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: $HelveticaNeue;
  font-size: $button--font-size;
  line-height: 1;
  padding: (($button--height - $button--font-size) / 2) 95px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include appearance(none);
  @include reset-focus;

  &--small {
    font-size: $font-size--normal;
    padding: 18px 65px;
  }
}

input[type="email"],
input[type="text"] {
  @include appearance(none);
  @include reset-box-model;
  @include reset-focus;

  background: transparent;
  border: 1px solid $input--border-color;
  @include border-radius($border-radius--normal);
  color: $input--color;
  display: block;
  font-family: $input--font-family;
  font-size: $input--font-size;
  line-height: $input--height;
  padding: 0 22px;
  width: 100%;

  &:focus {
    border-color: $input-focused--border-color;
  }

  @include input-placeholder {
    color: $input--placeholder-color;
  }
}

.fancy-checkbox {
  $this-unchecked__background: #ffffff;
  $this-unchecked__border-color: $input--border-color;
  $this-unchecked__icon-color: $this-unchecked__border-color;
  $this-unchecked__text-color: rgba($input--color, 0.87);

  $this-checked__background: #202a34;
  $this-checked__border-color: $this-checked__background;
  $this-checked__icon-color: rgba(#ffffff, 0.5);
  $this-checked__text-color: #ffffff;

  $this-height: $input--height - 2; // We need to substract 2 as we have borders around it!
  $this-text__font-size: $input--font-size;

  display: block;
  font-size: 0;
  @include legacy-pie-clearfix;
  line-height: $this-height;
  position: relative;

  & > input[type="checkbox"],
  & > input[type="radio"] {
    display: none;

    &:focus + label.fancy-checkbox__container {
      border-color: $input-focused--border-color;
    }

    &:checked + label.fancy-checkbox__container {
      background: $this-checked__background;
      border: 1px solid $this-checked__border-color !important;
      color: $this-checked__text-color;

      .fancy-checkbox__box {
        color: $this-checked__icon-color;

        &:before {
          content: $icon__checkbox__tick;
          font-size: 20px;
        }
      }
    }
  }

  &__container {
    background: $this-unchecked__background;
    border: 1px solid $this-unchecked__border-color;
    @include border-radius($border-radius--normal);
    color: $this-unchecked__text-color;
    cursor: pointer;
    display: block;
    padding: 0;
    text-align: center;
  }

  &__box, &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__box {
    @extend %custom-icon;

    padding-right: 10px;

    &:before {
      content: $icon__checkbox__empty-box;
      font-size: 17px;
    }
  }

  &__text {
    font-family: $input--font-family;
    font-size: $this-text__font-size;
  }
}
