.button {
  // TODO add a hover effect?

  @include reset-box-model;

  background: $color--accent;
  @include border-radius($border-radius--normal);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: $HelveticaNeue;
  font-size: $button--font-size;
  line-height: 1;
  padding: (($button--height - $button--font-size) / 2) 95px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include appearance(none);
  @include reset-focus;
}
