///////////////
// Open Sans //
///////////////

@font-face {
  font-family: "Open Sans";
  src: url("/assets/webfonts/opensans/opensans-light-webfont.eot");
  src: url("/assets/webfonts/opensans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/opensans/opensans-light-webfont.woff2") format("woff2"),
       url("/assets/webfonts/opensans/opensans-light-webfont.woff") format("woff"),
       url("/assets/webfonts/opensans/opensans-light-webfont.ttf") format("truetype"),
       url("/assets/webfonts/opensans/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/webfonts/opensans/opensans-regular-webfont.eot");
  src: url("/assets/webfonts/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/opensans/opensans-regular-webfont.woff2") format("woff2"),
       url("/assets/webfonts/opensans/opensans-regular-webfont.woff") format("woff"),
       url("/assets/webfonts/opensans/opensans-regular-webfont.ttf") format("truetype"),
       url("/assets/webfonts/opensans/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.eot");
  src: url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.woff2") format("woff2"),
       url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.woff") format("woff"),
       url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.ttf") format("truetype"),
       url("/assets/webfonts/opensans/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/webfonts/opensans/opensans-bolditalic-webfont.eot");
  src: url("/assets/webfonts/opensans/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/opensans/opensans-bolditalic-webfont.woff2") format("woff2"),
       url("/assets/webfonts/opensans/opensans-bolditalic-webfont.woff") format("woff"),
       url("/assets/webfonts/opensans/opensans-bolditalic-webfont.ttf") format("truetype"),
       url("/assets/webfonts/opensans/opensans-bolditalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

////////////////////
// Helvetica Neue //
////////////////////
// @license
// MyFonts Webfont Build ID 3218784, 2016-05-15T07:22:21-0400
//
// The fonts listed in this notice are subject to the End User License
// Agreement(s) entered into by the website owner. All other parties are
// explicitly restricted from using the Licensed Webfonts(s).
//
// You may obtain a valid license at the URLs below.
//
// Webfont: HelveticaNeueLTStd-Bd by Linotype
// URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-75-bold/
// Licensed pageviews: 500,000
//
// Webfont: HelveticaNeueLTStd-Roman by Linotype
// URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-55-roman/
// Licensed pageviews: 750,000
//
// Webfont: HelveticaNeueLTStd-Md by Linotype
// URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-65-medium/
// Licensed pageviews: 250,000
//
//
// License: http://www.myfonts.com/viewlicense?type=web&buildid=3218784
// Webfonts copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
//
// © 2016 MyFonts Inc

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/webfonts/helveticaneue/311D60_1_0.eot");
  src: url("/assets/webfonts/helveticaneue/311D60_1_0.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/helveticaneue/311D60_1_0.woff2") format("woff2"),
       url("/assets/webfonts/helveticaneue/311D60_1_0.woff") format("woff"),
       url("/assets/webfonts/helveticaneue/311D60_1_0.ttf") format("truetype"),
       url("/assets/webfonts/helveticaneue/311D60_1_0.svg#wf") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/webfonts/helveticaneue/311D60_2_0.eot");
  src: url("/assets/webfonts/helveticaneue/311D60_2_0.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/helveticaneue/311D60_2_0.woff2") format("woff2"),
       url("/assets/webfonts/helveticaneue/311D60_2_0.woff") format("woff"),
       url("/assets/webfonts/helveticaneue/311D60_2_0.ttf") format("truetype"),
       url("/assets/webfonts/helveticaneue/311D60_2_0.svg#wf") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/webfonts/helveticaneue/311D60_0_0.eot");
  src: url("/assets/webfonts/helveticaneue/311D60_0_0.eot?#iefix") format("embedded-opentype"),
       url("/assets/webfonts/helveticaneue/311D60_0_0.woff2") format("woff2"),
       url("/assets/webfonts/helveticaneue/311D60_0_0.woff") format("woff"),
       url("/assets/webfonts/helveticaneue/311D60_0_0.ttf") format("truetype"),
       url("/assets/webfonts/helveticaneue/311D60_0_0.svg#wf") format("svg");
  font-weight: 700;
  font-style: normal;
}
