#index-page {
  overflow: hidden;

  .main-cover {
    position: relative;

    @include small-tablet-screens {
      margin-left: -25vw;
      width: 150vw;
    }

    &__image {
      display: block;
      height: auto;

      &--normal {
        width: 100%;

        @include phone-screens {
          display: none;
        }
      }

      // This also acts as a text container
      &--blurred {
        background-image: url("../assets/images/main-cover-blurred.jpg");
        background-position: right top;
        background-repeat: no-repeat;
        @include background-size(cover);

        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 37.5%;
        z-index: 3;

        @include desktop-screens {
          padding: 0 60px;
        }

        @include tablet-screens {
          padding: 0 30px 0 50px;
        }

        @include small-tablet-screens {
          left: 50%;
          padding: 0 25vw 0 0;
          width: auto;

          .main-cover__text-container {
            padding: $container__small-tablet-padding--vertical;
          }
        }

        @include phone-screens {
          background-image: url("../assets/images/main-cover-normal.jpg");
          background-position: center;
          padding: 70px $container__phone-padding--vertical 60px $container__phone-padding--vertical;
          position: relative;
          width: auto;
        }

        // The white voil
        &:before {
          content: "";

          background-color: rgba(#ffffff, 0.8);
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: -2;
        }

        p {
          margin-bottom: 2em;

          @include desktop-screens {
            line-height: 2em;
          }
        }
      }
    }

    // Vertically aligns the container
    & {
      font-size: 0;

      &__text-container {
        display: inline-block;
        vertical-align: middle;
        width: 99.9%;

        p {
          font-size: $font-size--normal;
        }
      }

      &__image--blurred:after {
        content: "";

        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0.1%;
      }
    }
  }

  .what-you-get {
    @include legacy-pie-clearfix;
    padding-top: 100px;
    padding-bottom: 140px;

    @include tablet-screens {
      padding-bottom: 70px;
      padding-top: 50px;
    }

    @include phone-screens {
      padding-bottom: 55px;
      padding-top: 55px;
    }

    p {
      line-height: 1.75;
    }

    @include desktop-screens {
      &__container {
        width: 47.5%;

        &--left {
          float: left;
        }

        &--right {
          float: right;
        }
      }
    }

    &__list {
      margin-top: 8px;

      @include tablet-and-phone-screens {
        margin-top: 45px;
      }

      &__icon {
        color: rgba($color--primary, 0.3);
        float: right;
        margin-top: -1px;
        text-align: center;
        width: 45px;

        &:before {
          font-size: 18px;
        }

        &.icon-cogs {
          margin-top: -7px;

          &:before {
            font-size: 30px;
          }
        }

        &.icon-cloud {
          margin-top: -2px;

          &:before {
            font-size: 20px;
          }
        }

        &.icon-crosshair {
          margin-top: -5px;

          &:before {
            font-size: 26px;
          }
        }
      }

      li {
        border-bottom: 1px solid $border-color--grey;
        padding: 15px;
        padding-right: 10px;

        &:first-child {
          border-top: 1px solid $border-color--grey;
        }
      }
    }
  }

  .examples {
    @include desktop-screens {
      padding-bottom: 95px;
    }

    @include tablet-screens {
      text-align: center;
    }

    &__section-title {
      color: rgba($color--primary, 0.5);
      font-size: 20px;
      margin-bottom: 1em;
    }

    &__list {
      $this-items-count: 3;
      $this-items-margin: 16px;

      display: block;
      @include legacy-pie-clearfix;
      margin: 0 (-$this-items-margin / 2);

      li {
        @include desktop-screens {
          float: left;
          padding: 0 ($this-items-margin / 2);
          width: 100% / $this-items-count;
        }

        img {
          display: block;
          height: auto;
          width: 100%;
        }
      }

      &__image-container {
        display: block;

        @include small-tablet-screens {
          margin: 0 (- $container__small-tablet-padding--vertical);
        }

        @include phone-screens {
          margin: 0 (- $container__phone-padding--vertical);
        }
      }

      &__text {
        font-size: 15px;
        padding: 32px 30px 42px 30px;

        @include desktop-screens {
          border-top: 0;
          border: 1px solid $border-color--grey;
          min-height: 235px;
        }

        @include tablet-screens {
          padding-bottom: 35px;
          padding-top: 15px;
        }

        @include small-tablet-screens {
          padding-left: 0;
          padding-right: 0;
        }

        @include phone-screens {
          padding-left: 0;
          padding-right: 0;
        }

        .title--small {
          color: #bbbec4;
          text-transform: uppercase;
        }
      }
    }
  }

  .call-to-action {
    background: #f4f5f7;
    padding: 15px 0;

    @include phone-screens {
      padding: 35px 0;
    }

    &__container {
      display: table-cell;
      vertical-align: middle;

      @include phone-screens {
        display: block;
        width: 100% !important;
      }

      &--left {
        width: 99%;
      }

      &--right {
        width: 1%;
      }
    }

    &__text {
      $this-font-size: 17px;

      font-size: $this-font-size;
      line-height: 1;
      padding: (($button--height - $this-font-size) / 2) 25px (($button--height - $this-font-size) / 2) 0;

      @include phone-screens {
        padding: 0 0 20px 0;
      }
    }
  }

  .contact-us {
    font-size: 16px;
    @include legacy-pie-clearfix;
    padding-bottom: 22px;
    padding-top: 22px;

    a {
      text-decoration: underline;
    }

    &__text {
      &--left {
        float: left;
      }

      &--right {
        color: rgba($color--primary, 0.5);
        float: right;
        line-height: 2 * $line-height--normal;
      }
    }
  }
}
