#index-page {
  .main-cover {
    // TODO make this responsive

    $this-max-width: image-width("/assets/images/main-cover-left.jpg") + image-width("/assets/images/main-cover-right.jpg");
    $this-left-image-width: image-width("/assets/images/main-cover-left.jpg") / $this-max-width * 100%;
    $this-right-image-width: image-width("/assets/images/main-cover-right.jpg") / $this-max-width * 100%;

    @include legacy-pie-clearfix;
    position: relative;

    &__container {
      background: rgba(#ffffff, 0.9);
      bottom: 0;
      padding: 0 65px;
      position: absolute;
      right: 0;
      top: 0;
      width: $this-right-image-width;

      // NOTE hardcoded value
      padding-top: 177px;

      p {
        line-height: 2em;
        margin-bottom: 40px;
      }

      @media only screen and (max-width: $container--max-width - 1px) {
        .line-highlighter {
          display: none
        }
      }
    }

    &__image {
      display: block;
      height: auto;

      &--left {
        float: left;
        width: $this-left-image-width;
      }

      &--right {
        float: right;
        width: $this-right-image-width;
      }
    }
  }

  .what-you-get {
    @include legacy-pie-clearfix;
    padding: 100px 0;

    p {
      line-height: 2;
    }

    &__container {
      width: 47.5%;

      &--left {
        float: left;
      }

      &--right {
        float: right;
      }
    }

    &__list {
      margin-top: 7px;

      &__counter {
        color: #dfdfdf;
        float: right;
      }

      li {
        border-bottom: 1px solid #e1e1e1;
        font-size: 16px;
        padding: 17px;

        &:first-child {
          border-top: 1px solid #e1e1e1;
        }
      }
    }
  }
}
